[submodule "bitbake"]
	path = bitbake
	url = https://git.openembedded.org/bitbake
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://git.openembedded.org/openembedded-core
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
[submodule "meta-cronos"]
	path = meta-cronos
	url = git@github.com:asmc-waltz/meta-cronos.git
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "meta-linux-mainline"]
	path = meta-linux-mainline
	url = https://github.com/betafive/meta-linux-mainline.git
