[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
[submodule "meta-cronos"]
	path = meta-cronos
	url = git@github.com:asmc-waltz/meta-cronos.git
